.wrapper {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.toggleText{
  cursor: pointer;
  color: var(--color-primary);
}
.cardsWrapper {
  margin: 18px;
}
.section {
  margin: 20px 32px;
}
.showAll {
  cursor: pointer;
  color: var(--color-primary);
}
